<nav class="navbar navbar-default text" role="navigation">
	<ul class="nav navbar-nav" id="web-map">
		<li><a href="/">home</a> | <a href="/schedule">schedule</a> | <a href="/about">about</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right" id="web-init-user">
		<li><a href="/registration">registration</a> | <a href="/login">login</a></li>
	</ul>
</nav>